:root{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    max-width: 360px;
    padding-right: 10px;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;

   
    
}
body{
    background:radial-gradient(circle,rgba(42, 190, 91, 0.705),rgb(1, 48, 22));


}

.surah{
    
 
  width: 300px;
    max-height: 50px;
    border-radius: 20px;
    color: white;
    text-align: left;
    background-color: rgb(1, 31, 12);
    box-shadow: #00ff73 0px 0px 5px  ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
 
   
 

}

.title{
    color: rgb(255, 255, 255);
     text-shadow: #013015 0px 0px 10px ;

     text-align: center;
     padding-bottom: 10px;
}

.bismi{
    
    color: rgb(255, 255, 255);
     text-shadow: #013015 0px 0px 2px ;
     text-align: center;
     padding-bottom: 10px;
}

.content{
    align-items: center;
    display:inline-flex;
    flex-direction :column;
    gap:10px;
    padding-left: 5px;

}

.s{
    width: 100px;
    height: 40px;
   align-content: end;
   padding: 5px;
   display: inline;
   justify-content: end;
   
}


footer{
  align-content: center;
  align-items: center;
  text-align: center;
    margin-left: 0%;
     margin-bottom: 0%;
    align-items: center;
    color: white;
    text-shadow: #013015 0px 0px 20px ;
    

    
}


    